@keyframes h5p-essay-input-field-message-save-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.h5p-essay .h5p-essay-title {
  width: auto;
  overflow-y: auto;
}

.h5p-essay .h5p-essay-solution-container {
  background: var(--h5p-theme-ui-base);
  margin: var(--h5p-theme-spacing-m);
}

.h5p-essay .h5p-essay-solution-title {
  color: var(--h5p-theme-text-primary);
  font-size: var(--h5p-theme-font-size-xl);
  font-weight: 600;
  margin-bottom: var(--h5p-theme-spacing-m);
}

.h5p-essay .h5p-essay-solution-introduction {
  font-size: var(--h5p-theme-font-size-m-small);
  margin-bottom: var(--h5p-theme-spacing-s);
}

.h5p-essay .h5p-essay-solution-sample {
  background: var(--h5p-theme-ui-base);
  border: 2px solid var(--h5p-theme-alternative-darker);
  border-radius: var(--h5p-theme-border-radius-medium);
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.h5p-essay .h5p-essay-solution-sample-text {
  padding: calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xs);
  margin: 0;
  line-height: 1.5;
}

.h5p-essay .h5p-essay-input-field-textfield {
  background-color: var(--h5p-theme-ui-base);
  border: 2px solid var(--h5p-theme-alternative-darker);
  border-radius: var(--h5p-theme-border-radius-medium);
  color: var(--h5p-theme-text-primary);
  padding: calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xs);
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-size: var(--h5p-theme-font-size-m);
  font-family: var(--h5p-theme-font-family);
  line-height: 1.5;
}

.h5p-essay .h5p-essay-input-field-textfield:focus {
  box-shadow: 0 0 0.5em 0 var(--h5p-theme-main-cta-base);
  border-color: var(--h5p-theme-main-cta-base);
  outline: 1px ridge var(--h5p-theme-main-cta-base);
}

.h5p-essay .h5p-essay-input-field-textfield:disabled {
  background-color: var(--h5p-theme-alternative-light);
}

.h5p-essay .h5p-essay-input-field-message-wrapper {
  background-color: var(--h5p-theme-alternative-light);
  border: solid 1px var(--h5p-theme-alternative-base);
  color: var(--h5p-theme-text-secondary);
  font-weight: 500;
  overflow: auto;
  padding: 0 var(--h5p-theme-spacing-s);
}

.h5p-essay .h5p-essay-input-field-message-char {
  font-size: var(--h5p-theme-font-size-s-small);
  float: left;
}

.h5p-essay .h5p-essay-input-field-message-char-important {
  font-weight: bold;
}

.h5p-essay .h5p-essay-input-field-message-save {
  color: var(--h5p-theme-text-primary);
  font-size: var(--h5p-theme-font-size-s-small);
  float: right;
}

.h5p-essay .h5p-essay-input-field-message-save-animation {
  animation-name: h5p-essay-input-field-message-save-opacity;
  animation-duration: 1s;
}

.h5p-essay .h5p-essay-feedback-empty {
  color: var(--h5p-theme-feedback-neutral-main);
}

.h5p-essay .h5p-question-explanation-container {
  margin-bottom: var(--h5p-theme-spacing-m);
  margin-inline: var(--h5p-theme-spacing-m);
}
