@keyframes h5p-essay-input-field-message-save-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.h5p-essay {
  padding: 0.5em 1em;
}
.h5p-essay .h5p-essay-title {
  width: auto;
  overflow-y: auto;
}

.h5p-essay .h5p-essay-solution {
  position: relative;
  padding: 1.5em 2.2em 2em 2.2em;
  font-size: 0.9em;
  margin: 20px 0 20px 0;
  border: 1px solid #ffde78;
  background-color: #f9f9d8;
  color: #000;
}

.h5p-essay .h5p-essay-solution-title {
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: bottom;
}

.h5p-essay .h5p-essay-solution-introduction {
}

.h5p-essay .h5p-essay-solution-sample {
  border: 1px solid #bbde98;
  display: flex;
  margin-top: 20px;
  padding: 15px;
  background-color: #f6fef1;
}

.h5p-essay-hidden {
  display: none;
}




.h5p-essay .h5p-essay-input-field-textfield {
  padding: 0.25em 0.4em;
  width: calc(100% - 0.8em);
  resize: none;
  border: 1px solid #C7C7C7;
  border-top: 2px solid #C7C7C7;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.h5p-essay .h5p-essay-input-field-textfield:focus {
  background-color: #fff;
}

/* Reduce bottom and top margin of children */
.h5p-essay .h5p-essay-input-field-label > * {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.h5p-essay .h5p-essay-input-field-message-wrapper {
  overflow:auto;
}

.h5p-essay .h5p-essay-input-field-message-char {
  font-size: 0.8em;
  float: left;
}

.h5p-essay .h5p-essay-input-field-message-save {
  font-size: 0.8em;
  float: right;
}

.h5p-essay .h5p-essay-input-field-message-save-animation {
  animation-name: h5p-essay-input-field-message-save-opacity;
  animation-duration: 1s;
}
